name: Build

on:
  release:
    types: [created]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-win:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - name: Set up cargo cache
      uses: actions/cache@v4
      continue-on-error: false
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: ${{ runner.os }}-cargo-
    - name: Build Windows frontend
      working-directory: ./src/win
      run: cargo build --release
    - name: Create zip archive
      working-directory: ./src/win/target/release
      run: powershell Compress-Archive -Path y_nes_win.exe,SDL2.dll -DestinationPath yNES-windows-${{github.ref_name}}.zip
    - name: Upload release asset
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v2
      with:
        files: ./src/win/target/release/yNES-windows-${{github.ref_name}}.zip

  build-wasm:
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - name: install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
    - name: Build wasm
      working-directory: ./src/wasm
      run: wasm-pack build --release --target web
    - name: Pack artifact
      working-directory: ./src/wasm
      run: |
        mkdir artifact
        cp -r index.html *.js pkg artifact
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './src/wasm/artifact'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
